.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.teams {
    flex: 1;
    margin-right: 2.5%;
    height: 45vh;
    overflow-y: scroll;
}

.clues {
    flex: 2;
    margin-left: 2.5%;
    height: 45vh;
    overflow-y: scroll;
}