.containerAdmin {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  overflow: auto;
}

.form {
  flex: 2;
  margin-right: 2.5%;
}

.adminClues {
  flex: 1;
  margin-left: 2.5%;
  height: 70vh;
  overflow: auto;
}

img {
  width: 80%;
}

.cancel-add-clue, .submit-add-clue {
  max-height: 100px;
  height: 60px;

}

.Floating-form {
  max-width: 700px;
  width: 300px;
  min-width: 300px;
}

.cancel-add-new-card-btn, .add-new-card-btn {
  margin: 0;
  padding: 0;
  font-size: 17px;
}