.containerAdmin {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.form {
  flex: 2;
  margin-right: 2.5%;
}

.adminClues {
  flex: 1;
  margin-left: 2.5%;
  height: 70vh;
  overflow: auto;
}

img {
  width: 80%;
}
