.Game {
  text-align: center;
  background: rgb(38, 70, 83);
  background: linear-gradient(
    180deg,
    rgba(38, 70, 83, 1) 0%,
    rgba(231, 111, 81, 1) 70%,
    rgba(233, 196, 106, 1) 100%
  );
  min-height: 100vh;
}

.grid-item-clue {
  width: 50vh;
}

.clue-front {
  background-color: aliceblue;
  height: 30vh;
  width: inherit;
  justify-content: center;
  text-align: center;
}
.clue-back {
  background-color: aliceblue;
  min-height: 30vh;
  min-width: 30vh;
}

.front-text {
}

.back-button {
}
