.leaderboard-header {
  margin-bottom: 5vh;
}

.score-card {
  background-color: white;
  min-height: 5vh;
}

.score-form {
  max-width: 100%;
  position: absolute;
  top: 0;
}

.Leaderboard {
  max-height: 100%;
}
