
.clue-front  {
    background-color: aliceblue;
    height: 30vh;
    width: inherit;
    justify-content: center;
    text-align: center;

  
}
.clue-back  {
    background-color: aliceblue;
    min-height: 30vh;
    min-width: 30vh;
  
}

.front-text {
 
}

.back-button {

}